body {
    font-size: 13px;
    line-height: 19px;
    color: #111;
    font-family: Arial,sans-serif;
}
#sign-logo {
    height: 31px;
    width: 103px;
    display: inline-block;
    vertical-align: top;
    
}
.section-logo {
    margin-bottom: 5px;
    padding: 14px 18px;
    text-align: center;
}
.MuiPaper-root {
    padding: 20px 26px;
    margin-bottom: 20px;
}
.signin-form {
    display: grid;
}

.form-header {
    font-family: "Amazon Ember",Arial,sans-serif;
    margin-bottom: 10px !important;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.2;
    padding-bottom: 4px;
}
label {
    display: block;
    padding-left: 2px;
    padding-bottom: 2px;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    color: #111;
    font-family: Arial,sans-serif;
}

.form-input {
    background-color: #fff;
    height: 31px;
    padding: 1px 7px;
    line-height: normal;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255,255,255,.5),0 1px 0 rgba(0,0,0,.07) inset;
    outline: 0;
    display: inline-block;
    width: -moz-available;
}

.form-input:focus {
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
}
.form-button {
    background: linear-gradient(to bottom,#f5d78e,#eeb933);
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    font-weight: 300;
    text-align: center;
    width: 100%;
    font-family: "Amazon Ember",Arial,sans-serif;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 7px;
    text-decoration: none !important;
    vertical-align: middle;
    margin: 10px 0;
}

.form-button:hover {
    background: #f0c14b;
}

a {
    text-decoration: none;
    color: #0066c0;
}

.section-text {
    font-size: 12px ;
    line-height: 1.5 ;
    margin-top: 18px;
    width: 100%;
    box-sizing: border-box;
    font-family: "Amazon Ember",Arial,sans-serif;
    text-align: justify;
}
.divider {
    text-align: center;
    position: relative;
    top: 2px;
    padding-top: 1px;
    margin-bottom: 14px;
    line-height: 0;
    border-top: 1px solid #e7e7e7;
}
.divider h5 {
    line-height: 1;
    font-size: 12px;
    color: #767676;
    font-weight: 600;
    z-index: 2;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 10px 8px 0 7px;
}
.create-button {
    background: #e7e9ec;
    border-radius: 3px;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display:block;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    width: -moz-available;
    margin: auto;
    box-sizing: border-box;

}
.create-button:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,.2) inset;
    background-image: none;
    background-color: #dcdfe3;
}
.create-button a {
    text-decoration: none;
    color: #111;
    padding: 0 10px 0 11px;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-weight: 500;
}
